.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .title .subtitle {
	font-size: 1.5em;
	color: #333;
	margin-bottom: 20px;
  }
  
  .field {
	margin-bottom: 10px;
  }
  
  .info-label {
	font-weight: bold;
  }
  
  .info-value {
	margin-left: 10px;
  }
  
  /* .user-info-button {
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 8px 16px;
	cursor: pointer;
  }
  
  .user-info-button:hover {
	background-color: #0056b3;
  } */
  